.live-timer-loader {
  width: fit-content;
  background: transparent;
  padding: 0 8px;
  font-size: 18px;
  font-family: monospace;
  color: var(--text-primary);
  font-weight: bold;
  border-radius: 8px;
  position: relative;
  line-height: 1.25;
}

.live-timer-value {
  white-space: pre;
  animation: live-timer-flicker .5s infinite;
}

.live-timer-loader::after {
  content: "";
  position: absolute;
  inset: auto auto 100% 10px;
  height: 5px;
  width: 40%;
  background: transparent;
  display: block;
}

/* 0-25s: green */
.live-timer-loader.bar-1::after {
  background: linear-gradient(90deg, #34c759 20%, #0000 0);
}

/* 25-50s: green + amber */
.live-timer-loader.bar-2::after {
  background: linear-gradient(90deg, #34c759 20%, #0000 0 27%, #ff9500 0 47%, #0000 0);
}

/* 50-75s: green + amber + blue */
.live-timer-loader.bar-3::after {
  background: linear-gradient(90deg, #34c759 20%, #0000 0 27%, #ff9500 0 47%, #0000 0 54%, var(--dx-blue) 0 74%, #0000 0);
}

/* 75s+: green + amber + blue + red */
.live-timer-loader.bar-4::after {
  background: linear-gradient(90deg, #34c759 20%, #0000 0 27%, #ff9500 0 47%, #0000 0 54%, var(--dx-blue) 0 74%, #0000 0 81%, red 0);
}

@keyframes live-timer-flicker {
  50% {
    opacity: .85;
  }
}

html.light .live-timer-value {
  animation: live-timer-flicker-light .5s infinite;
}

@keyframes live-timer-flicker-light {
  50% {
    opacity: .65;
  }
}

