@media (max-width: 768px) {
    .nav-buttons {
        display: none !important;
    }
    .mobile-menu-btn {
        display: flex !important;
    }
}

@media (min-width: 769px) {
    .mobile-menu-btn {
        display: none !important;
    }
    .mobile-menu {
        display: none !important;
    }
}

.say-hello-btn:hover {
    opacity: 0.9;
}

.nav-btn:hover:not(.active) {
    text-decoration: underline;
    text-decoration-color: #4F5BF8;
    text-underline-offset: 4px;
}

.nav-btn.active {
    text-decoration: underline;
    text-decoration-color: #4F5BF8;
    text-underline-offset: 4px;
}

.logo-img {
    transition: filter 0.2s;
}

.logo-img:hover {
    filter: invert(42%) sepia(100%) saturate(5000%) hue-rotate(225deg) brightness(110%) contrast(100%);
}

.mobile-menu-item:hover {
    background: rgb(247, 247, 247) !important;
    padding: 6px;
}

.mobile-menu-item.say-hello:hover {
    background: #4f5bf8 !important;
    opacity: 0.9;
}
